.header img{
    height: 80px;
}
.header{
    text-align: center;
    margin-top: 20px;
}
.nav-item{
    background-color: #000000c7;
    line-height: 50px;
    font-size: 20px;
}
.nav-item a{
    text-decoration: none;
    color: #fff;
    margin-right: 30px;
    padding: 5px;
}
.nav-item a:hover{
    background-color: gray;
    border-radius: 5px;
}